body {
  text-align: center;
}

.nav-bar {
  display: inline-block;
}
.nav-bar::after {
  clear: both;
  display: table;
  content: '';
}

.nav-bar > li {
  list-style-type: none;
  float: left;
}

.nav-bar > li > a {
  padding: 10px 16px;
  text-decoration: none;
  color: #f46868;
}

.nav-bar > li > a:hover {
  text-decoration: underline;
}