#app {
  width: 50%;
  margin: 0 auto;
}

.nav-bar {
  padding: 0;
  display: inline-block;
}
.nav-bar::after {
  clear: both;
  display: table;
  content: '';
}

.nav-bar > li {
  list-style-type: none;
  float: left;
}

.nav-bar > li > a {
  padding: 10px 0;
  margin-right: 20px;
  text-decoration: none;
  color: #f46868;
}

.nav-bar > li > a:hover {
  text-decoration: underline;
}